.login-form{

    margin-top: 1vh;
    margin-bottom: 0;
    overflow: hidden;
  

}

.custom-login-btn ::hover{
    background-color: '#053259';
}


.showPasswordBtn {
    margin-top: 2.4rem !important;
}